﻿@model DALayer.GetUserDetails_Result
<div class="col-12">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prefix:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtPrefix" value="@Model.Prefix" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Image:</label>
                <div class="col-sm-9">
                    <img src="http://pubmed.omeletteinc.com/@(Model.ImagePath != null ? Model.ImagePath.Replace("~/", "") : "")" width="32px" height="32px" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtFirstName" value="@Model.FirstName" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtLastName" value="@Model.LastName" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Middle Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtMiddleName" value="@Model.MiddleName" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <button type="button" class="btn btn-primary" id="btnSaveUserDetails">Save</button>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $('#btnSaveUserDetails').click(function () {

            var data = {
                userId: '@Model.AspnetUserId',
                prefix: $('#txtPrefix').val(),
                firstName: $('#txtFirstName').val(),
                middleName: $('#txtMiddleName').val(),
                lastName:$('#txtLastName').val()
            };

            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (data) {
                    updateAlertMessage(data.Message);
                    console.log(data);
                },
                error: function () {
                    updateAlertMessage(data.Message);
                    console.log(data);
                },
                processData: false,
                type: 'POST',
                url: '/PubMed/SaveUserDetails'
            });
        })
    });
</script>