﻿@model List<AdminPortal.Models.ApplicationUser>

<h4 class="card-title">Users</h4>
<p class="card-description">
    User search result
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>UserName</th>
            <th>Email Confirmed?</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var searchResult in Model)
        {
            <tr>
                <td>@(index++).</td>
                <td>@searchResult.Id</td>
                <td>@searchResult.UserName</td>
                <td>@(searchResult.EmailConfirmed ? Html.Raw("<i class='mdi mdi-thumb-up'></i>") : Html.Raw("<i class='mdi mdi-thumb-down-outline'></i>"))</td>
                <td><a href="/pubmed/UserDetails?id=@searchResult.Id">Details</a></td>
                <td>@(!searchResult.UserName.Equals("JITHENDRA_R@HOTMAIL.COM", StringComparison.InvariantCultureIgnoreCase) && !searchResult.UserName.Equals("SVKODURU@GMAIL.COM", StringComparison.InvariantCultureIgnoreCase) ? Html.Raw("<a href='/pubmed/DeleteUser?id=" + @searchResult.Id + "' >Delete</a>") : Html.Raw("NA"))</td>
            </tr>
        }
    </tbody>
</table>