﻿@model IEnumerable<DALayer.GetAppUserDevices_Result>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>DeviceId</th>
            <th>DeviceInfo</th>
            <th>Verified?</th>
            <th>CreatedDate</th>
            <th>LastAccessedDate</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var searchResult in Model)
        {
            <tr>
                <td>@(index++).</td>
                <td>@searchResult.DeviceId</td>
                <td>@searchResult.DeviceInfo</td>
                <td>@searchResult.Verified</td>
                <td>@searchResult.CreatedDate</td>
                <td>@searchResult.LastAccessedDate</td>
            </tr>
        }
    </tbody>
</table>
