﻿@model IEnumerable<DALayer.GetAppUserFavorites_Result>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>FavoriteTypeId</th>
            <th>FavoriteValue</th>
            <th>ImageId</th>
            <th>OriginalFileName</th>
            <th>File Size in KB</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var searchResult in Model)
        {
            <tr>
                
                <td>@(index++).</td>
                <td>@(((OmeletteSoft.BLLayer.EnumMgr.FavoriteType)searchResult.FavoriteTypeId).ToString())</td>
                <td>@searchResult.FavoriteValue</td>
                <td>@searchResult.ImageId</td>
                <td title="@searchResult.OriginalFileName" >@Html.Raw( searchResult.ImagePath)</td>
                <td>@searchResult.OriginalFileName</td>
                <td>@searchResult.FileSizeInKB</td>
            </tr>
        }
    </tbody>
</table>

