﻿@model AdminPortal.Models.PubMedDasboard
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> Home
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Users <i class="mdi mdi-account mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@Model.NumberOfUsers</h2>
                <h6 class="card-text">Number of registerd Users. Pending activation: @Model.NumberOfPendingUsers</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Devices <i class="mdi mdi-cellphone mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@Model.NumberOfDevices</h2>
                <h6 class="card-text">Number of Devices used for accesing application. Pending activation: @Model.NumberOfPendingDevices</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Files <i class="mdi mdi-file-check mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@Model.NumberOfFiles</h2>
                <h6 class="card-text">Number of files uploaded to server</h6>
            </div>
        </div>
    </div>
</div>