﻿@model AdminPortal.Models.ApplicationUser
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3 class="page-title"> User Details </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/PubMed">Pubmed</a></li>
            <li class="breadcrumb-item"><a href="/PubMed/Users">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Details</li>
        </ol>
    </nav>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Profile Details</h4>
            <p class="card-description"> User info </p>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtId" readonly value="@Model.Id" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">UserName</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtUserName" readonly value="@Model.UserName" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email Confirmed?</label>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" readonly class="form-check-input" name="statusRadio" id="emailConfirmedRadio" value="1" @(Model.EmailConfirmed ? "checked" : "")> Active
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group row">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="divEditUserDetails"></div>
            <h4 class="card-title">Favorite / Upload Details</h4>
            @{Html.RenderAction("GetUserUploadList", "PubMed", new { id = Model.Id });}
        </div>
    </div>
</div>

@section scripts{
    <script language="javascript">
        $(document).ready(function () {
            var url = '@Url.Content("~/PubMed/GetUserInfo")?id=@Model.Id';
            $('#divEditUserDetails').load(url);
        });

    </script>    
}