﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3 class="page-title"> Search Users </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/PubMed">Pubmed</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>
</div>
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success">
        <strong>@ViewBag.Success</strong>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <strong>@ViewBag.Error</strong>
    </div>
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="searchName">User Name:</label>
                        <input type="text" class="form-control" id="searchName">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Top:</label>
                        <select class="form-control" id="sltCount">
                            <option selected>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                            <option>ALL</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-gradient-primary btn-rounded btn-fw" id="btnSearch">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-info alert-dismissible" id="divAlert" hidden>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="alertMessage"></div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div id="divList">
                    <div class="spinner-grow d-none" role="status" id="divSpinner">
                        <span class="sr-only">Loading...</span>
                    </div>
                    @{Html.RenderAction("GetUserList", "PubMed");}
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script language="javascript">
        $(document).ready(function () {
            
            $("#btnSearch").click(function () {
                localStorage.setItem('userSearch', $('#searchName').val());
                $('#divSpinner').show();
                var url = encodeURI("@Url.Action("GetUserList", "PubMed")" + "?searchString=" + $('#searchName').val() + "&count=" + $('#sltCount').val());
                $("#divList").load(url);
            });

            var userSearch = localStorage.getItem('userSearch');
            if (userSearch != null) {
                $('#searchName').val(userSearch);
                $("#btnSearch").click();
            }
        });

    </script>
}