﻿@*<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> Delete Contact
    </h3>
</div>*@
<br/>
<br />
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Your profile deleted successfully.</div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-row">
                    <h3>@ViewBag.errorMessage</h3>
                </div>
            </div>
        </div>
    </div>
</div>
