#box_mini_height{
	min-height: 100px;
}
.border_class{
	border: 2px solid black;
	min-height: 430px;
}
.img_adjust_size{
	position: relative;
	top: 80px;
}
.img_adjust_size_search{
	position: relative;
	top: 10px;	
}
.img_adjust_size_horizonatal{
	position: relative;
	top: 30px;	
}
.img_adjust_size_horizonatal_search{
	margin-bottom: 74px;	
	position: relative;
    bottom: 50px;

}
.ngroup_box-margin{
	margin-bottom: 10px;
}
.google-logo
{
	padding: 20px 0;
}
.set_position{
	position: relative;
	top:150px; 
}
.google-search
{
	padding: 20px 10px;
}
.google-search:focus
{
	box-shadow:silver 0 2px 10px; 
	border-color: silver;
}
.google-form .btn-group
{
	padding: 20px 0;
}
.btn-group>.btn
{
	border-radius: 0;
	margin: 0 10px;
}

.footer_fix_ui {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background: #f2f2f2;
    width: 100%;
    padding: 15px;
    padding-bottom: 2px;
    padding-top: 2px;
    vertical-align:central;
}
.ack_managment{
	color: black !important;
	text-decoration: none !important; 
}
.dorp-field{
	background-color:#0273d8; 
	border: 1px solid #0273d8;
	border-radius: 0px;
	padding: 10px;
	margin-bottom: 5px;
	margin-right: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	color: white;
}
 
.dorp-field.active{
	background-color: #D34405;
	border: 1px solid #D34405; 
	color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.group_box{
	border: 2px solid #758BB0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.group_field_details{
	margin-top: 10px;
	margin-bottom: 15px;
}
.name_box_inner{
	border: 2px solid #B4D8FE;
	border-radius: 4px;
	padding: 5px;
	border-collapse:separate; 
	border-spacing:0 15px; 
	font-size: 12px;
	font-weight: 600;	 
}
td{
	width:150px; 
	/*text-align:center; */
	border:1px solid black; 
	padding:5px
}
.gfg { 
		border-collapse:separate; 
		border-spacing: 2px 1px;
    font-size: 10px;

} 
	 
.border_hide{
	padding: 2px;
	border-collapse:separate; 
	border-spacing:0 15px; 
	border:hidden; 
	background-color: #E8E8E8;
	font-size: 12px;
    font-weight: 600;
}
td:nth-of-type(2) {
padding-left: 10px;
margin-left: 5px;
}
.date_color{
	color:red;
}
.detale_date{
	color:#0267FF;
}
.ui-tooltip-content::after, .ui-tooltip-content::before {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	left: 90px;
 }
 .ui-tooltip-content::before {
	bottom: -10px;
	border-color: #AAA transparent;
	border-width: 10px 10px 0;
 }
 .ui-tooltip-content::after {
	bottom: -7px;
	border-color: white transparent;
	border-width: 10px 10px 0;
 }
.btn.btn-primary.search_btn{
	font-size: 18px;
}
.search_result_font_size{
	font-weight: 700;
	font-size: 18px;
}

