﻿<!-- partial:partials/_footer.html -->
@*<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year <a href="https://www.bootstrapdash.com/" target="_blank">iCard by OmeletteSoft</a>. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">www.OmeletteSoftinc.com<i class="mdi mdi-heart text-danger"></i></span>
    </div>
</footer>*@
<!-- partial -->
