﻿<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>
<body>
    @RenderBody()
    <div class="container-scroller">
        @Html.Partial("_TopMenu")
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("_LeftNav")
            <div class="content-wrapper">

                @Html.Partial("_Footer")
            </div>

        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/assets/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
