﻿@model  AdminPortal.Models.RichTextEditorViewModel

@{
    ViewBag.Title = "SendEmails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Send Emails</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Common">Common</a></li>
            <li class="breadcrumb-item active" aria-current="page">Send Emails</li>
        </ol>
    </nav>
</div>
<div class="alert alert-info alert-dismissible" id="divAlert" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="alertMessage"></div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success">
        <strong>@ViewBag.Success</strong>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <strong>@ViewBag.Error</strong>
    </div>
}

@*@using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        {*@
<div class="form-row align-items-end">
    <div class="col-auto align-bottom">
        <label for="inputApplication">Application:</label>
        <select id="inputApplication" class="form-control">
            <option selected>Choose...</option>
            <option value="PubMed">PubMed</option>
            <option value="Cards">Cards</option>
        </select>
    </div>
    <div class="col-auto align-bottom">
        <label for="inputSubject">Subject:</label>
        <input type="text" class="form-control mb-2" id="inputSubject" placeholder="Email Subject" />
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary mb-2">Send Emails</button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary mb-2" id="btnTest">Test</button>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label"> Message </label>
    <div class="col-md-8">
        <div class="input-group">
            @Html.TextAreaFor(m => m.Message, new
       {
           rows = "20",
           style = "resize:none;width:400px;",
           placeholder = Html.DisplayNameFor(m => m.Message),
           @class = "form-control input-lg textarea-editor",
           id = "summernote"
       })
        </div>
    </div>
</div>
@* < div class = "form-group" > < div class = "col-md-offset-2 col-md-10" > < input type = "submit"
    value = "Log in"
    class = "btn btn-default" / > < /div> < /div>*@
@*}
    }*@

@*</section> </div> </div>*@
@section Scripts {
    @Scripts.Render("~/bundles/Script-custom-editor")
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

    <script language="javascript">
        $(document).ready(function () {
            $('#divAlert').hide();
            $('#btnTest').click(function () {
                let  inputData = {
                    "message" : $("#summernote").val(),
                    "subject" : $("#inputSubject").val(),
                    "application" : ""
                };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SendTestEmail", "Common")",
                    data: JSON.stringify( inputData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        updateAlertMessage(result.Message);
                    }
                });
                /*
                $.ajax({
                    type: 'POST',
                    url: '/Common/SendTestEmail',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(inputData),
                    success: function (jsonResult) {
                        alert(jsonResult);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error(textStatus + " " + errorThrown);
                    }
                });*/
            });
            // Initialize Editor
            $('#summernote').summernote({
                height: 300, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: true, // set focus to editable area after initializing summernote
                callbacks: {
                    onImageUpload: function (files) {
                        for (let i = 0; i < files.length; i++) {
                            $.upload(files[i]);
                        }
                    }
                }
            });

            $.upload = function (file) {
                let out = new FormData();
                out.append('file', file, file.name);

                $.ajax({
                    method: 'POST',
                    url: '/Common/UploadImages',
                    contentType: false,
                    cache: false,
                    processData: false,
                    data: out,
                    success: function (img) {
                        $('#summernote').summernote('insertImage', img);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error(textStatus + " " + errorThrown);
                    }
                });
            };
        });
    </script>
}
