﻿<div class="jumbotron">
    <h1>OmeletteSoft</h1>
    <p class="lead">We are up and running.</p>
</div>
<div class="row">
    <div class="col-md-10">
        <h2 id="companyName"></h2>
        <p>
            <div class="col-md-4" id="divAddress"></div>
            <div class="col-md-4" id="divPhone"></div>
            <div class="col-md-4" id="divEmail"></div>
            <div class="col-md-4" id="diviPhoneEnabled"></div>
            <div class="col-md-4" id="divandriodEnabled"></div>
        </p>
    </div>

    <div class="col-md-10">
        <h3>Journals</h3>
        <div class="col-md-12" id="divJournals">
        </div>
    </div>
</div>
<script language="javascript">
    /*Get Company Info*/
    $(document).ready(function () {


        $.post('api/CompanyInfo', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34' })
        .done(function (data) {

            $('#companyName').html(data.Name);
            $('#divAddress').html('Address:' + data.Address);
            $('#divPhone').html('Phone:' + data.Phone);
            $('#divEmail').html('Email:' + data.Email);
            $('#diviPhoneEnabled').html('Is iPhone Enabled:' + data.iPhoneEnabled);
            $('#divandriodEnabled').html('Is Andriod Enabled:' + data.andriodEnabled);
        });

        $.post('api/Journals', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34' })
        .done(function (data) {

            $.each(data.Journals, function (key, value) {
                $('#divJournals').append('<div class="col-md-12"><a href="Journal/Info?Id=' + value.JournalId + '">' + value.JournalName + '</a></div>');
            });
        });
    });

</script>