﻿@model List<DALayer.SearchJournal_Result>
@*<style>
    .btn-group {
        display: flex;
    }
</style>*@
<h4 class="card-title">Journals</h4>
<p class="card-description">
    Journal search result
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>ISSN</th>
            <th>EISSN</th>
            <th>WebSite</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var searchResult in Model)
        {
        <tr>
            <td>@(index++).</td>
            <td title="@searchResult.Title">@(searchResult.Title.Length > 40 ? Html.Raw(searchResult.Title.Substring(0, 40)) : Html.Raw(searchResult.Title))</td>
            <td>@searchResult.ISSN</td>
            <td>@searchResult.EISSN</td>
            <td title="@searchResult.WebSite">@(searchResult.WebSite.Length > 40 ? Html.Raw(searchResult.WebSite.Substring(0, 40)) : Html.Raw(searchResult.WebSite))</td>
            <td>
                <div class="btn-group">
                    <button type="button" title="Show Details" class="btn btn-primary" onclick="showDetails(@searchResult.JournalHeaderId);"><i class="mdi mdi-grease-pencil"></i></button>
                    <button type="button" title="Show Impact Factor Details" class="btn btn-primary" onclick="showIFDetails(@searchResult.JournalHeaderId);"><i class="mdi mdi-format-list-numbered"></i></button>
                    <button type="button" title="Delete" class="btn btn-primary" onclick="deleteJIF(@searchResult.JournalHeaderId);"><i class="mdi mdi-delete-forever"></i></button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeading">Impact Factor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
                <div id="divImpactFactor"></div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>