﻿@model List<DALayer.GetMissingISSN_Result>
    <h4 class="card-title">Missing ISSN's</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>ISSN Type</th>
                <th>ISSN</th>
                <th>Searh Count</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
            }
            @foreach (var searchResult in Model)
            {
                <tr>
                    <td>@(index++).</td>
                    <td>@searchResult.ISSNType</td>
                    <td>@searchResult.ISSN</td>
                    <td>@searchResult.SearchCount</td>
                    <td>@searchResult.CreatedDate</td>
                    <td nowrap>
                        <button type="button" class="btn btn-primary" onclick="deleteMissingISSN(@searchResult.MissingISSNId);"><i class="mdi mdi-delete-forever"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
