﻿@model DALayer.SearchJournal_Result
<div class="card">
    <div class="card-body">
        <form class="form-horizontal">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtTitle">Title:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtTitle" placeholder="Enter Title" name="txtTitle" value="@Model.Title">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtTitle20">Title20:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtTitle20" placeholder="Enter Title20" name="txtTitle20" value="@Model.Title20">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtTitle29">Title29:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtTitle29" placeholder="Enter Title29" name="txtTitle29" value="@Model.Title29">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtISSN">ISSN:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtISSN" placeholder="Enter ISSN" name="txtISSN" value="@Model.ISSN">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtEISSN">EISSN:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtEISSN" placeholder="Enter EISSN" name="txtEISSN" value="@Model.EISSN">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtCategory">Category:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtCategory" placeholder="Enter Category" name="txtCategory" value="@Model.JournalCategoryName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtPublisher">Publisher:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtPublisher" placeholder="Enter Publisher" name="txtPublisher" value="@Model.PublisherName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtCountry">Country:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtCountry" placeholder="Enter Country" name="txtCountry" value="@Model.CountryName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtLanguage">Language:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtLanguage" placeholder="Enter Language" name="txtLanguage" value="@Model.LanguageName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtWebsite">Website:</label>
                <div class="col-xs-3">
                    <input type="url" class="form-control" id="txtWebsite" placeholder="Enter Website" name="txtWebsite" value="@Model.WebSite">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtFrequency">Frequency:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtFrequency" placeholder="Enter Frequency" name="txtFrequency" value="@Model.Frequency">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtSociety">Society:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtSociety" placeholder="Enter Frequency" name="txtSociety" value="@Model.SocietyName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtAPC">APC:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtAPC" placeholder="Enter APC" name="txtAPC" value="@Model.APC">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtAPCAmount">APC Amount:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtAPCAmount" placeholder="Enter APC Amount" name="txtAPCAmount" value="@Model.APCAmount">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtCurrency">Currency:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtCurrency" placeholder="Enter Currency" name="txtCurrency" value="@Model.Currency">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtSubmissionFee">Submission Fee:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtSubmissionFee" placeholder="Enter SubmissionFee" name="txtSubmissionFee" value="@Model.SubmissionFee">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtKeywords">Keywords:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtKeywords" placeholder="Enter Keywords" name="txtKeywords" value="@Model.Keywords">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtReviewProcess">Review Process:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtReviewProcess" placeholder="Enter Review Process" name="txtReviewProcess" value="@Model.ReviewProcess">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="txtOpenAccess">Open Access:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="txtOpenAccess" placeholder="Enter Open Access" name="txtOpenAccess" value="@Model.OpenAccess">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-xs-3">
                    <button type="submit" class="btn btn-primary" onclick="return saveHeader();">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


