﻿@model Dictionary<int, decimal>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Year</th>
                <th>Impact Factor</th>
            </tr>
        </thead>
        <tbody>
            @{
                var headerId = Request.QueryString["id"];
            }
            @for (var i = DateTime.Now.Year; i >= 2000; i--)
            {
                if (Model.ContainsKey(i))
                {
                    <tr >
                        <td>@i</td>
                        <td><input type="text" class="form-control" name="txtIF" data-headerid="@headerId" data-ifyear="@i" value="@Model[i]"></td>
                    </tr>
                }
                else
                {
                    <tr class="danger" title="Missing Impact Factor">
                        <td>@i</td>
                        <td><input type="text" class="form-control" name="txtIF" data-headerid="@headerId" data-ifyear="@i"></td>
                    </tr>
                }
            }
            <tr>
                <td colspan="2" align="center">
                    <button id="btnSaveIF" class="btn btn-primary" type="button" onclick="saveIF();">Save</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
