﻿@model  AdminPortal.Models.JIFFiles
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3 class="page-title"> Import</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/JIF">JIF</a></li>
            <li class="breadcrumb-item active" aria-current="page">Import</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <span>
                    Allowed Column Names: <b>Full Journal Title*, Title20, Title29, ISSN*, EISSN, Category name, CountryName, WebSite, Frequency, JOURNAL IF [[Year]]*, ImpactFactor*</b>
                    <br />
                    <i>* mandatory fields.</i>
                </span>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select file...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]">
                </span>
                <br /><br />
                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The container for the uploaded files -->
                <div id="files" class="files"></div>
                <br />
                <div id="divResult" class="alert alert-success">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Processed Files</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProcessedFiles)
                        {
                            <tr>
                                <td><a href="@Url.Content("~/UploadedFiles/Processed")/@item.Name" target="_blank">@item.Name</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Uploaded Files</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UploadedFiles)
                        {
                            <tr>
                                <td><a href="@Url.Content("~/UploadedFiles/Processed")/@item.Name" target="_blank">@item.Name</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="@Url.Content("~/Content/jquery.fileupload.css")">
@section scripts{
    <script src="@Url.Content("~/scripts/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.fileupload.js")"></script>

    <script>
        /*jslint unparam: true */
        /*global window, $ */
        $(function () {
            'use strict';
            // Change this to the location of your server-side upload handler:
            var url = '@Url.Action("UploadFile","JIF")';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {

                    if (data.result && data.result.result && data.result.result.error) {
                        $('#divResult').html("Error occured: <p class='text-danger'>" + data.result.result.error + "</p>");
                    }

                    if (data.result && data.result.result && data.result.result.totalProcessedCount) {
                        $('#divResult').append("<br/>Total records processed : <strong>" + data.result.result.totalProcessedCount + "</strong>");
                    }
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    $('#divResult').html('<strong>Procesing file content...</strong><img src="@Url.Content("~/images/loading.gif")" height="32px" width="32px" />');
                },
                processdone: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    $('#divResult').html('<strong>Procesing file content...</strong><img src="@Url.Content("~/images/loading.gif")" height="32px" width="32px" />');
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>

}

