﻿@model IEnumerable<DALayer.GetJournalSummaryCount_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3 class="page-title"> Search Journals </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/JIF">JIF</a></li>
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="searchName">Journal Name:</label>
                        <input type="text" class="form-control" id="searchName">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Top:</label>
                        <select class="form-control" id="sltCount">
                            <option selected>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                            <option>ALL</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-gradient-primary btn-rounded btn-fw" id="btnSearch">Search</button>
                    <button type="button" class="btn btn-gradient-primary btn-rounded btn-fw" id="btnNewJournal" onclick="showDetails(-1);">Add New Journal</button>
                </form>
                @if (Model != null)
                {
                    <div class="row">
                        <ul class="pagination">
                            @foreach (var item in Model)
                            {
                                <li><a href="#" onclick="showJournalsStartingWith('@item.FirstLetter','@item.JournalCount');">@item.FirstLetter (@item.JournalCount)</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="alert alert-info alert-dismissible" id="divAlert" hidden>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="alertMessage"></div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div id="divList">
                    <div class="spinner-grow d-none" role="status" id="divSpinner">
                        <span class="sr-only">Loading...</span>
                    </div>
                    @{Html.RenderAction("GetList", "JIF");}
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script language="javascript">
        $(document).ready(function () {

            $("#btnSearch").click(function () {
                $('#divSpinner').show();
                var url = encodeURI("@Url.Action("GetList", "JIF")" + "?searchString=" + $('#searchName').val() + "&count=" + $('#sltCount').val());
                $("#divList").load(url);
            });
        });

        var showJournalsStartingWith = function (startingString, count) {
            $('#divSpinner').show();
            $('#searchName').val(startingString);
            $('#sltCount').val('ALL')
            var url = encodeURI("@Url.Action("GetList", "JIF")" + "?searchString=" + $('#searchName').val() + "&count=" + count+"&searchType=TITLE");
            $("#divList").load(url);
        }

        var showIFDetails = function (id) {
            $('#myModal').modal('show');
            $('#modalHeading').text("Impact Factor");
            var url = "@Url.Action("ImpactFactor", "JIF")" + "?id=" + id;
            $("#divImpactFactor").load(url);
        }

        var deleteJIF = function (id) {
            if (confirm("Are you sure you want to delete Journal and its Impact Factor?")) {
                $('#divSpinner').show();
                var url = encodeURI("@Url.Action("DeleteItem", "JIF")" + "?id=" + id + "&searchString=" + $('#searchName').val() + "&count=" + $('#sltCount').val() +"&searchType=TITLE");
                $("#divList").load(url);
            }
        }

        var showDetails = function (id) {
            $('#myModal').modal('show');
            var title = "Journal";
            if (id > 0)
                title = "Edit Journal";
            else
                title = "Add Journal";

            $('#modalHeading').text(title);
            var url = "@Url.Action("Details", "JIF")" + "?id=" + id;
            $("#divImpactFactor").load(url);
        }

        var saveIF = function () {
            var ifList = [];
            var headerId = 0;
            $('[name=txtIF]').each(function () {
                var ifItem = {};
                ifItem["Year"] = $(this).data('ifyear');
                ifItem["Factor"] = $(this).val();
                headerId = $(this).data('headerid');
                ifList.push(ifItem);
            });
            var data = {
                "id": headerId,
                "factors": ifList
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveImpactFactor", "JIF")",
                data: data,
                success: function () {
                    $('#myModal').modal('hide');
                    updateAlertMessage("Successfully updated Impact Factor.");
                }
            });
        }
        var saveHeader = function () {

            var data = {
                "id": 0,
                "title": $('#txtTitle').val(),
                "title20": $('#txtTitle20').val(),
                "title29": $('#txtTitle29').val(),
                "issn": $('#txtISSN').val(),
                "eissn": $('#txtEISSN').val(),
                "category": $('#txtCategory').val(),
                "publisher": $('#txtPublisher').val(),
                "country": $('#txtCountry').val(),
                "language": $('#txtLanguage').val(),
                "website": $('#txtWebsite').val(),
                "frequency": $('#txtFrequency').val(),
                "society": $('#txtSociety').val(),
                "apc": $('#txtAPC').val(),
                "apcAmount": $('#txtAPCAmount').val(),
                "currency": $('#txtCurrency').val(),
                "submissionFee": $('#txtSubmissionFee').val(),
                "keywords": $('#txtKeywords').val(),
                "reviewProcess": $('#txtReviewProcess').val(),
                "openAccess": $('#txtOpenAccess').val()
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveHeader", "JIF")",
                data: data,
                success: function () {
                    $('#myModal').modal('hide');
                    updateAlertMessage("Journal saved successfully.");
                    $('#searchName').val($('#txtTitle').val());
                    $('#btnSearch').click();
                }
            });
            return false;
        }
        var updateAlertMessage = function (msg) {
            $('#divAlert').show();
            $('#alertMessage').text(msg);
        }
    </script>
}
