﻿
@{
    ViewBag.Title = "MissingISSNs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3 class="page-title"> Search Missing Journals @Html.Raw(ViewData["MissingISSNCount"])</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/JIF">JIF</a></li>
            <li class="breadcrumb-item active" aria-current="page">Missing ISSN's</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="searchName">ISSN:</label>
                        <input type="text" class="form-control" id="searchName">
                    </div>
                    <button type="button" class="btn btn-primary btn-rounded" id="btnSearch">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div id="divList">
                    <div class="spinner-grow d-none" role="status" id="divSpinner">
                        <span class="sr-only">Loading...</span>
                    </div>
                    @{Html.RenderAction("GetMissingISSNList", "JIF");}
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script language="javascript">
    $(document).ready(function () {

        $("#btnSearch").click(function () {
            $('#divSpinner').show();
            var url = encodeURI("@Url.Action("GetMissingISSNList", "JIF")" + "?searchString=" + $('#searchName').val());
                console.log(url);
                $("#divList").load(url);
            });
        });

        var deleteMissingISSN = function (id) {
            var url = "@Url.Action("MissingISSN", "JIF")" + "?id=" + id;
            $.ajax({
                type: "DELETE",
                url: url,
                success: function () {
                    $("#btnSearch").click();
                }
            });
        }

    </script>
}
