﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal Impact Factor</title>
    <style>
        html {
            font-size: 12px;
        }
    </style>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9689624110931795",
            enable_page_level_ads: true
        });
    </script>
    <link rel="shortcut icon"
          type="image/png"
          href="~/favicon.png" />
</head>
<body>
    @RenderBody()

    <footer class="container-fluid text-center footer_fix_ui">
        <div class="col-md-2">
            <a href='https://apps.apple.com/us/app/journal-if/id1446598571?mt=8' target="_blank"><img alt='Get it on Google Play' src='https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-12-15&kind=iossoftware&bubble=apple_music' class="" target="_blank" style="height:40px" /></a>
        </div>
        <div class="col-md-2">
            <a href='https://play.google.com/store/apps/details?id=com.journalif&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/badge_new.png' class="" target="_blank" style="height:40px" /></a>
        </div>
        <div class="col-md-1" style="vertical-align: middle;">
            <a href="#" class="ack_managment" data-toggle="tooltip" id="tooltip-7" data-placement="top" title="Journal Citation Reports annual publication by Clarivate Analytics">
                Acknowledgement
            </a>
        </div>
        <div class="col-md-1" style="vertical-align: middle;">
            <a href="http://www.omelettesoft.com/privacy" target="_blank" class="ack_managment" data-toggle="modal" id="tooltip-8" title="Privacy and Policy">
                Privacy
            </a>
        </div>
        <div class="col-md-3" style="vertical-align:middle;">
            <a href="#" class="ack_managment">
                Omelette Inc, USA &copy; 2014 - @DateTime.Now.Year
            </a>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @RenderSection("scripts", required: false)

    <style>
        .cursor-pointer {
            cursor: pointer;
        }
    </style>
    <script language="javascript">
        $(document).ready(function () {
            $("#tooltip-7").tooltip({
                position: {
                    my: "center bottom",
                    at: "center top-10",
                    collision: "none"
                }
            });

            $("#tooltip-8").tooltip({
                position: {
                    my: "center bottom",
                    at: "center top-10",
                    collision: "none"
                }
            });
        });
    </script>
</body>
</html>
