﻿@model String
@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archive</h2>
<div class="row">
    <h1>All Issue Data</h1>
    <div id="divAllIssueData"></div>
</div>

<div class="row">
    <h1>All Issue Data with Articles</h1>
    <div id="divAllIssueDataWithArticles"></div>


</div>
<input type="hidden" value='@Model' id="hdnJournalId" />
<script language="javascript">
    $(document).ready(function () {
        $.post('/api/AllIssueData', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val() })
            .done(function (data) {
                $('#divAllIssueData').html('');
                $.each(data.IssueData, function (key, value) {
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">url : </span>' + value.url + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">issueId : </span><a href="/Journal/IssueData?jid=' + $('#hdnJournalId').val() + '&iid=' + value.issueId + '">' + value.issueId + '</a></div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">title : </span>' + value.title + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">description : </span>' + value.description + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">identification : </span>' + value.identification + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">volume : </span>' + value.volume + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">number : </span>' + value.number + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">year : </span>' + value.year + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">datePublished : </span>' + value.datePublished + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">imageUrl : </span>' + value.imageUrl + '</div>');
                    $('#divAllIssueData').append('<div class="col-md-12"><span class="font-weight">imageDescription : </span>' + value.imageDescription + '</div>');
                    $('#divAllIssueData').append('<hr/>');
                });
                
            });


        $('#divAllIssueDataWithArticles').html('');
        $.post('/api/AllIssueDataWithArticles', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val() })
        .done(function (output) {
            $.each(output.IssuesWithArticles, function(key, data){
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">IssueId : </span>' + data.issueId + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Title : </span>' + data.title + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Description : </span>' + data.description + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Identification : </span>' + data.identification + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Volume : </span>' + data.volume + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Number : </span>' + data.number + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Year : </span>' + data.year + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Date Published : </span>' + data.datePublished + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Image Url : </span>' + data.imageUrl + '</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Image Description : </span>' + data.imageDescription + '</div>');

            $('#divAllIssueDataWithArticles').append('<h2>Articles</h2>');
            /*$('#divAllIssueDataWithArticles').append('<div class="col-md-2">URL</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Id</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Title</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Abstract</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Author String</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Section Id</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Section Title</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Galleys</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Citations</div>');
            $('#divAllIssueDataWithArticles').append('<div class="col-md-2">Sponsor</div>');
            */

            $.each(data.articles, function (key, value) {
                $('#divAllIssueDataWithArticles').append('<h3>Article Title : ' + value.title + '</h3>');

                $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">URL:</span>' + value.url + '</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">ID:</span><a href="/Journal/ArticleInfo?jid=' + $('#hdnJournalId').val() + '&aid=' + value.id + '">' + value.id + '</a></div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">TITLE:</span>' + value.title + '</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">ABSTRACT:</span>' + value.abstract + '</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">AUTHORSTRING:</span>' + value.authorString + '</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">AUTHORS:<hr/>');
                $.each(value.authors, function (key1, value1) {
                    $('#divAllIssueDataWithArticles').append('firstName:' + value1.firstName + ';');
                    $('#divAllIssueDataWithArticles').append('middleName:' + value1.middleName + ';');
                    $('#divAllIssueDataWithArticles').append('lastName:' + value1.lastName + ';');
                    $('#divAllIssueDataWithArticles').append('affiliation:' + value1.affiliation.en_US + ';');
                    $('#divAllIssueDataWithArticles').append('country:' + value1.country + ';');
                    $('#divAllIssueDataWithArticles').append('countryLocalized:' + value1.countryLocalized + ';');
                    $('#divAllIssueDataWithArticles').append('email:' + value1.email + ';');
                    $('#divAllIssueDataWithArticles').append('competingInterests:' + value1.competingInterests.en_US + ';');
                    $('#divAllIssueDataWithArticles').append('biography:' + value1.biography.en_US + ';');
                    $('#divAllIssueDataWithArticles').append('primaryContact:' + value1.primaryContact + ';');
                    $('#divAllIssueDataWithArticles').append('<br/>');
                    $('#divAllIssueDataWithArticles').append('<br/>');
                });
                $('#divAllIssueDataWithArticles').append('</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12">Section Id: ' + value.sectionId + '</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12">Section Title:' + value.sectionTitle + '</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12"><h4>Galleys</h4>');
                $.each(value.galleys, function (key, value2) {
                    $('#divAllIssueDataWithArticles').append('id:' + value2.id + ';<br/>');
                    $('#divAllIssueDataWithArticles').append('label:' + value2.label + ';<br/>');
                    $('#divAllIssueDataWithArticles').append('url:' + value2.url + ';<br/>');
                    $('#divAllIssueDataWithArticles').append('<br/>');
                });
                $('#divAllIssueDataWithArticles').append('</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12">Citations' + value.citations + '</div>');
                $('#divAllIssueDataWithArticles').append('<div class="col-md-12">Sponsor:' + value.sponsor + '</div><h4/>');
            });
            });
        });

    });
</script>