﻿@model OmeletteSoft.Models.InputRequest

@{
    ViewBag.Title = "ArticleInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ArticleInfo</h2>
<div class="row">
    <div id="divArticleInfo"></div>
</div>
<input type="hidden" value='@Model.Input1' id="hdnJournalId" />
<input type="hidden" value='@Model.Input2' id="hdnIssueId" />
<script language="javascript">
    $(document).ready(function () {
        $.post('/api/ArticleInfo', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val(), Input2: $('#hdnIssueId').val() })
            .done(function (data) {
                var value = data.ArticleInfo;
                $('#divArticleInfo').html('');
                $('#divArticleInfo').append('<h3>Article Title : ' + value.title + '</h3>');

                $('#divArticleInfo').append('<div class="col-md-12"><span class="font-weight">URL:</span>' + value.url + '</div>');
                $('#divArticleInfo').append('<div class="col-md-12"><span class="font-weight">ID:</span><a href="/Journal/ArticleInfo?jid=' + $('#hdnJournalId').val() + '&aid=' + value.id + '">' + value.id + '</a></div>');
                $('#divArticleInfo').append('<div class="col-md-12"><span class="font-weight">TITLE:</span>' + value.title + '</div>');
                $('#divArticleInfo').append('<div class="col-md-12"><span class="font-weight">ABSTRACT:</span>' + value.abstract + '</div>');
                $('#divArticleInfo').append('<div class="col-md-12"><span class="font-weight">AUTHORSTRING:</span>' + value.authorString + '</div>');
                $('#divArticleInfo').append('<div class="col-md-12"><span class="font-weight">AUTHORS:<hr/>');
                $.each(value.authors, function (key1, value1) {
                    $('#divArticleInfo').append('firstName:' + value1.firstName + ';');
                    $('#divArticleInfo').append('middleName:' + value1.middleName + ';');
                    $('#divArticleInfo').append('lastName:' + value1.lastName + ';');
                    $('#divArticleInfo').append('affiliation:' + value1.affiliation.en_US + ';');
                    $('#divArticleInfo').append('country:' + value1.country + ';');
                    $('#divArticleInfo').append('countryLocalized:' + value1.countryLocalized + ';');
                    $('#divArticleInfo').append('email:' + value1.email + ';');
                    $('#divArticleInfo').append('competingInterests:' + value1.competingInterests.en_US + ';');
                    $('#divArticleInfo').append('biography:' + value1.biography.en_US + ';');
                    $('#divArticleInfo').append('primaryContact:' + value1.primaryContact + ';');
                    $('#divArticleInfo').append('<br/>');
                    $('#divArticleInfo').append('<br/>');
                });
                $('#divArticleInfo').append('</div>');
                $('#divArticleInfo').append('<div class="col-md-12">Section Id: ' + value.sectionId + '</div>');
                $('#divArticleInfo').append('<div class="col-md-12">Section Title:' + value.sectionTitle + '</div>');
                $('#divArticleInfo').append('<div class="col-md-12"><h4>Galleys</h4>');
                $.each(value.galleys, function (key, value2) {
                    $('#divArticleInfo').append('id:' + value2.id + ';<br/>');
                    $('#divArticleInfo').append('label:' + value2.label + ';<br/>');
                    $('#divArticleInfo').append('url:' + value2.url + ';<br/>');
                    $('#divArticleInfo').append('<br/>');
                });
                $('#divArticleInfo').append('</div>');
                $('#divArticleInfo').append('<div class="col-md-12">Citations' + value.citations + '</div>');
                $('#divArticleInfo').append('<div class="col-md-12">Sponsor:' + value.sponsor + '</div><hr/>');
            });
    });
</script>