﻿@model String
@{
    ViewBag.Title = "CurrentRelease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CurrentRelease</h2>
<div class="row">
    <h1>Current Issue Data</h1>
    <div id="divCurrentIssueData"></div>
</div>

<div class="row">
    <h1>Current Issue Data with Articles</h1>
    <div id="divCurrentIssueDataWithArticles"></div>
</div>
<input type="hidden" value='@Model' id="hdnJournalId" />

<script language="javascript">
    $(document).ready(function () {
        $('#divCurrentIssueData').html('');

        $.post('/api/CurrentIssueData', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val() })
        .done(function (data) {
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">IssueId : </span><a href="/Journal/IssueData?jid=' + $('#hdnJournalId').val() + '&iid=' + data.CurrentIssueData.issueId + '">' + data.CurrentIssueData.issueId + '</a></div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Title : </span>' + data.CurrentIssueData.title + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Description : </span>' + data.CurrentIssueData.description + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Identification : </span>' + data.CurrentIssueData.identification + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Volume : </span>' + data.CurrentIssueData.volume + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Number : </span>' + data.CurrentIssueData.number + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Year : </span>' + data.CurrentIssueData.year + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Date Published : </span>' + data.CurrentIssueData.datePublished + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Image Url : </span>' + data.CurrentIssueData.imageUrl + '</div>');
            $('#divCurrentIssueData').append('<div class="col-md-12"><span class="font-weight">Image Description : </span>' + data.CurrentIssueData.imageDescription + '</div>');
        });

        $('#divCurrentIssueDataWithArticles').html('');
        $.post('/api/CurrentIssueWithArticles', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val() })
        .done(function (data) {
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">IssueId : </span>' + data.CurrentIssueWithArticles.issueId + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Title : </span>' + data.CurrentIssueWithArticles.title + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Description : </span>' + data.CurrentIssueWithArticles.description + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Identification : </span>' + data.CurrentIssueWithArticles.identification + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Volume : </span>' + data.CurrentIssueWithArticles.volume + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Number : </span>' + data.CurrentIssueWithArticles.number + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Year : </span>' + data.CurrentIssueWithArticles.year + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Date Published : </span>' + data.CurrentIssueWithArticles.datePublished + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Image Url : </span>' + data.CurrentIssueWithArticles.imageUrl + '</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Image Description : </span>' + data.CurrentIssueWithArticles.imageDescription + '</div>');

            $('#divCurrentIssueDataWithArticles').append('<h2>Articles</h2>');
            /*$('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">URL</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Id</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Title</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Abstract</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Author String</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Section Id</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Section Title</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Galleys</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Citations</div>');
            $('#divCurrentIssueDataWithArticles').append('<div class="col-md-2">Sponsor</div>');
            */

            $.each(data.CurrentIssueWithArticles.articles, function (key, value) {
                $('#divCurrentIssueDataWithArticles').append('<h3>Article Title : ' + value.title + '</h3>');

                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">URL:</span>' + value.url + '</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">ID:</span><a href="/Journal/ArticleInfo?jid=' + $('#hdnJournalId').val() + '&aid=' + value.id + '">' + value.id + '</a></div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">TITLE:</span>' + value.title + '</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">ABSTRACT:</span>' + value.abstract + '</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">AUTHORSTRING:</span>' + value.authorString + '</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">AUTHORS:<hr/>');
                $.each(value.authors, function (key1, value1) {
                    $('#divCurrentIssueDataWithArticles').append('firstName:' + value1.firstName + ';');
                    $('#divCurrentIssueDataWithArticles').append('middleName:' + value1.middleName + ';');
                    $('#divCurrentIssueDataWithArticles').append('lastName:' + value1.lastName + ';');
                    $('#divCurrentIssueDataWithArticles').append('affiliation:' + value1.affiliation.en_US + ';');
                    $('#divCurrentIssueDataWithArticles').append('country:' + value1.country + ';');
                    $('#divCurrentIssueDataWithArticles').append('countryLocalized:' + value1.countryLocalized + ';');
                    $('#divCurrentIssueDataWithArticles').append('email:' + value1.email + ';');
                    $('#divCurrentIssueDataWithArticles').append('competingInterests:' + value1.competingInterests.en_US + ';');
                    $('#divCurrentIssueDataWithArticles').append('biography:' + value1.biography.en_US + ';');
                    $('#divCurrentIssueDataWithArticles').append('primaryContact:' + value1.primaryContact + ';');
                    $('#divCurrentIssueDataWithArticles').append('<br/>');
                    $('#divCurrentIssueDataWithArticles').append('<br/>');
                });
                $('#divCurrentIssueDataWithArticles').append('</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12">Section Id: ' + value.sectionId + '</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12">Section Title:' + value.sectionTitle + '</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12"><h4>Galleys</h4>');
                $.each(value.galleys, function (key, value2) {
                    $('#divCurrentIssueDataWithArticles').append('id:' + value2.id + ';<br/>');
                    $('#divCurrentIssueDataWithArticles').append('label:' + value2.label + ';<br/>');
                    $('#divCurrentIssueDataWithArticles').append('url:' + value2.url + ';<br/>');
                    $('#divCurrentIssueDataWithArticles').append('<br/>');
                });
                $('#divCurrentIssueDataWithArticles').append('</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12">Citations' + value.citations + '</div>');
                $('#divCurrentIssueDataWithArticles').append('<div class="col-md-12">Sponsor:' + value.sponsor + '</div><h4/>');
            });
        });
    });
</script>