﻿@Model String
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Journal Info</h2>
<div class="row">
    <div class="col-md-10">
        <h2 id="journalId"></h2>
        <p>
            <div class="col-md-12" id="divTitle">title</div>
            <div class="col-md-12" id="divUrl">url</div>
            <div class="col-md-12" id="divInitials">initials</div>
            <div class="col-md-12" id="divDescription">description</div>
        </p>
    </div>

    <div class="col-md-10">
        <button id="btnCurrentIssue" >Current Issue</button>
        <button id="btnArchieve">Archieve</button>
    </div>
</div>


<input type="hidden" value='@Model' id="hdnJournalId" />
<script language="javascript">
    $(document).ready(function () {

        $.post('/api/JournalInfo', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val() })
        .done(function (data) {

            $('#journlaId').text(data.JournalDetails.id);
            $('#divTitle').html('Title :' + data.JournalDetails.title);
            $('#divUrl').html('URL :' + data.JournalDetails.url);
            $('#divInitials').html('Initials :' + data.JournalDetails.initials);
            $('#divDescription').html('Description :' + data.JournalDetails.description);
        });

        
        $('#btnCurrentIssue').on('click', function () {
            window.location.href = '/Journal/CurrentIssue?id=' + $('#hdnJournalId').val();
        });

        $('#btnArchieve').on('click', function () {
            window.location.href = '/Journal/Archive?id=' + $('#hdnJournalId').val();
        });
    });
</script>