﻿@model OmeletteSoft.Models.InputRequest
@{
    ViewBag.Title = "IssueData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IssueData</h2>
<div class="row">
    <div id="divIssueData"></div>
</div>
<div class="row">
    <h1>Issue Data with Articles</h1>
    <div id="divIssueDataWithArticles"></div>
</div>
<input type="hidden" value='@Model.Input1' id="hdnJournalId" />
<input type="hidden" value='@Model.Input2' id="hdnIssueId" />
<script language="javascript">
    $(document).ready(function () {
        $.post('/api/IssueData', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val(), Input2 : $('#hdnIssueId').val() })
            .done(function (data) {
                $('#divIssueData').html('');
                var value = data.IssueData;
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">url : </span>' + value.url + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">issueId : </span><a href="/Journal/IssueData?jid=' + $('#hdnJournalId').val() + '&iid=' + value.issueId + '">' + value.issueId + '</a></div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">title : </span>' + value.title + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">description : </span>' + value.description + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">identification : </span>' + value.identification + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">volume : </span>' + value.volume + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">number : </span>' + value.number + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">year : </span>' + value.year + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">datePublished : </span>' + value.datePublished + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">imageUrl : </span>' + value.imageUrl + '</div>');
                $('#divIssueData').append('<div class="col-md-12"><span class="font-weight">imageDescription : </span>' + value.imageDescription + '</div>');
                $('#divIssueData').append('<hr/>');
            });

        $.post('/api/IssueDataWithArticles', { CompanyId: 'A7DFC830-7EF9-4AAB-8624-88BFE39C6D34', Input1: $('#hdnJournalId').val(), Input2: $('#hdnIssueId').val() })
            .done(function (data) {
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">IssueId : </span>' + data.CurrentIssueWithArticles.issueId + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Title : </span>' + data.CurrentIssueWithArticles.title + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Description : </span>' + data.CurrentIssueWithArticles.description + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Identification : </span>' + data.CurrentIssueWithArticles.identification + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Volume : </span>' + data.CurrentIssueWithArticles.volume + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Number : </span>' + data.CurrentIssueWithArticles.number + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Year : </span>' + data.CurrentIssueWithArticles.year + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Date Published : </span>' + data.CurrentIssueWithArticles.datePublished + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Image Url : </span>' + data.CurrentIssueWithArticles.imageUrl + '</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">Image Description : </span>' + data.CurrentIssueWithArticles.imageDescription + '</div>');

                $('#divIssueDataWithArticles').append('<h2>Articles</h2>');
                /*$('#divIssueDataWithArticles').append('<div class="col-md-2">URL</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Id</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Title</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Abstract</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Author String</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Section Id</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Section Title</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Galleys</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Citations</div>');
                $('#divIssueDataWithArticles').append('<div class="col-md-2">Sponsor</div>');
                */

                $.each(data.CurrentIssueWithArticles.articles, function (key, value) {
                    $('#divIssueDataWithArticles').append('<h3>Article Title : ' + value.title + '</h3>');

                    $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">URL:</span>' + value.url + '</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">ID:</span><a href="/Journal/ArticleInfo?jid=' + $('#hdnJournalId').val() + '&aid=' + value.id + '">' + value.id + '</a></div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">TITLE:</span>' + value.title + '</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">ABSTRACT:</span>' + value.abstract + '</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">AUTHORSTRING:</span>' + value.authorString + '</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12"><span class="font-weight">AUTHORS:<hr/>');
                    $.each(value.authors, function (key1, value1) {
                        $('#divIssueDataWithArticles').append('firstName:' + value1.firstName + ';');
                        $('#divIssueDataWithArticles').append('middleName:' + value1.middleName + ';');
                        $('#divIssueDataWithArticles').append('lastName:' + value1.lastName + ';');
                        $('#divIssueDataWithArticles').append('affiliation:' + value1.affiliation.en_US + ';');
                        $('#divIssueDataWithArticles').append('country:' + value1.country + ';');
                        $('#divIssueDataWithArticles').append('countryLocalized:' + value1.countryLocalized + ';');
                        $('#divIssueDataWithArticles').append('email:' + value1.email + ';');
                        $('#divIssueDataWithArticles').append('competingInterests:' + value1.competingInterests.en_US + ';');
                        $('#divIssueDataWithArticles').append('biography:' + value1.biography.en_US + ';');
                        $('#divIssueDataWithArticles').append('primaryContact:' + value1.primaryContact + ';');
                        $('#divIssueDataWithArticles').append('<br/>');
                        $('#divIssueDataWithArticles').append('<br/>');
                    });
                    $('#divIssueDataWithArticles').append('</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12">Section Id: ' + value.sectionId + '</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12">Section Title:' + value.sectionTitle + '</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12"><h4>Galleys</h4>');
                    $.each(value.galleys, function (key, value2) {
                        $('#divIssueDataWithArticles').append('id:' + value2.id + ';<br/>');
                        $('#divIssueDataWithArticles').append('label:' + value2.label + ';<br/>');
                        $('#divIssueDataWithArticles').append('url:' + value2.url + ';<br/>');
                        $('#divIssueDataWithArticles').append('<br/>');
                    });
                    $('#divIssueDataWithArticles').append('</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12">Citations' + value.citations + '</div>');
                    $('#divIssueDataWithArticles').append('<div class="col-md-12">Sponsor:' + value.sponsor + '</div><hr/>');
                });
        });
    });
</script>