﻿@model Int32
<link rel="stylesheet" href="@Url.Content("~/Content/jquery.fileupload.css")">
<script src="@Url.Content("~/scripts/jquery.ui.widget.js")"></script>
<script src="@Url.Content("~/scripts/jquery.iframe-transport.js")"></script>
<script src="@Url.Content("~/scripts/jquery.fileupload.js")"></script>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <span>
                    <b>Select image(s) for Company Cards</b>
                </span>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]" multiple accept="image/*"/>
                </span>
                <br /><br />
                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The container for the uploaded files -->
                <div id="files" class="files"></div>
                <br />
                <div id="divResult" class="alert alert-success">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
        /*jslint unparam: true */
        /*global window, $ */
        $(function () {
            'use strict';
            // Change this to the location of your server-side upload handler:
            var url = '@Url.Action("CompanyCardUploadFile","Card")?id=@Model';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {

                    if (data.result && data.result.result && data.result.result.error) {
                        $('#divResult').html("Error occured: <p class='text-danger'>" + data.result.result.error + "</p>");
                    }

                    if (data.result && data.result.result && data.result.result.totalProcessedCount) {
                        $('#divResult').append("<br/>Total records processed : <strong>" + data.result.result.totalProcessedCount + "</strong>");
                    }
                    //Refresh parent grid
                    loadCompanyCards();

                    hideDetails();
                    updateAlertMessage("Card(s) added to Company.");
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    $('#divResult').html('<strong>Procesing file content...</strong><img src="@Url.Content("~/images/loading.gif")" height="32px" width="32px" />');
                    
                },
                processdone: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    $('#divResult').html('<strong>Procesing file content...</strong><img src="@Url.Content("~/images/loading.gif")" height="32px" width="32px" />');


                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
</script>
