﻿@model AdminPortal.Models.iCardCompanyDetails
    <form>
        <div class="form-group">
            <label for="companyName">Company Name:</label>
            <input type="text" maxlength="250" class="form-control" id="companyName" value="@Model.Name">
        </div>
        <div class="form-group">
            <label for="companyAddress">Address:</label>
            <input type="text" maxlength="100" class="form-control" id="companyAddress" value="@Model.Address">
        </div>
        <div class="form-group">
            <label for="companyWebsite">Website:</label>
            <input type="text" maxlength="250" class="form-control" id="companyWebsite" value="@Model.Website">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="isActiveRadio" id="isActiveRadio" value="1" @(Model.IsActive ? "checked" : "")> Is Active?</label>
        </div>
        <button type="button" id="btnSaveCompany" class="btn btn-primary btn-default" >Submit</button>
        <input type="hidden" id="id" value="@Model.Id"/>
    </form>
<script language="javascript">
    $(document).ready(function () {
        $('#btnSaveCompany').click(function () {
            var data = {
                id: $('#id').val(),
                name: $('#companyName').val(),
                address: $('#companyAddress').val(),
                website: $('#companyWebsite').val(),
                isActive: $('#isActiveRadio').prop("checked")
                };
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveCompany", "Card")",
                    data: data,
                    success: function (result) {
                        hideDetails();

                        updateAlertMessage(result.Message);
                        if (result.Id >= 0) {
                            loadList();
                        }
                    }
                });
        });
    });
</script>


