﻿@model DALayer.GetCompanyContacts_Result
<form>
    <div class="form-group">
        <label for="username">Email:</label>
        <input type="text" maxlength="250" class="form-control" id="email" value="@Model.Email">
    </div>
    <div class="form-group">
        <label for="companyAddress">First Name:</label>
        <input type="text" maxlength="200" class="form-control" id="firstName" value="@Model.FirstName">
    </div>
    <div class="form-group">
        <label for="companyAddress">Last Name:</label>
        <input type="text" maxlength="200" class="form-control" id="lastName" value="@Model.LastName">
    </div>
    <button type="button" id="btnSaveContact" class="btn btn-primary btn-default">Submit</button>
    <input type="hidden" id="id" value="@Model.UniqueId" />
    <input type="hidden" id="companyId" value="@Model.CompanyId" />
</form>
<script language="javascript">
    $(document).ready(function () {
        $('#btnSaveContact').click(function () {
            var data = {
                id: $('#id').val(),
                companyId: $('#companyId').val(),
                email: $('#email').val(),
                firstName: $('#firstName').val(),
                lastName: $('#lastName').val()
            };

            $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveCompanyContact", "Card")",
                    data: data,
                    success: function (result) {
                        hideDetails();
                        console.log(result);
                        updateAlertMessage(result.Message);
                        if (result.Id >= 0) {
                            loadList();
                        }
                    }
            });
        });
    });
</script>