﻿@model IEnumerable<DALayer.GetCompanies_Result>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>Logo</th>
            <th>Website</th>
            <th>Last Modified Date</th>
            <th>Is Active</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model)
        {
        <tr>
            <td>@(index++).</td>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>@item.LogoImage</td>
            <td>@item.WebSite</td>
            <td>@item.ModifiedDate</td>
            <td>@(item.IsActive.Value == true ? Html.Raw("<i class='mdi mdi-thumb-up'></i>") : Html.Raw("<i class='mdi mdi-thumb-down-outline'></i>"))</td>
            <td>
                <a href="#" onclick="addEditCompany(@item.CompanyId)">Edit</a>
                &nbsp;
                <a href="/Card/ViewCompanyDetails?id=@item.CompanyId" >Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

