﻿@model DALayer.GetCommunicationTypes_Result
<form>
    <div class="form-group">
        <label for="email">Communication Type Id:</label>
        <input type="text" readonly class="form-control" id="id" value="@Model.CommunicationTypeId">
    </div>
    <div class="form-group">
        <label for="pwd">Communication Type Name:</label>
        <input type="text" maxlength="30" class="form-control" id="communicationTypeName" value="@Model.CommunicationTypeName">
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="isActiveRadio" id="isActiveRadio" value="1" @(Model.IsActive.Value ? "checked" : "")> Is Active?</label>
    </div>
    <button type="button" id="btnSaveCommunication" class="btn btn-primary" class="btn btn-default">Submit</button>
</form>
<script language="javascript">
    $(document).ready(function () {
        $('#btnSaveCommunication').click(function () {
            var data = {
                id: $('#id').val(),
                value: $('#communicationTypeName').val(),
                isActive: $('#isActiveRadio').prop("checked")
                };
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveCommunicationType", "Card")",
                    data: data,
                    success: function (result) {
                        hideDetails();

                        updateAlertMessage(result.Message);
                        if (result.Id >= 0) {
                            loadList();
                        }
                    }
                });
        });
    });
</script>
