﻿@model IEnumerable<DALayer.GetCompanyContacts_Result>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>#</th>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Is Active?</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="chkTemplate" id="chkTemplate" value="@item.ContactId" class="idCheckBox" data-username="@item.UserName" />
                </td>
                <td>@(index++).</td>
                <td>@item.UniqueId</td>
                <td>@item.UserName</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@(item.IsActive.Value == true ? Html.Raw("<i class='mdi mdi-thumb-up'></i>") : Html.Raw("<i class='mdi mdi-thumb-down-outline'></i>"))</td>
            </tr>
        }
    </tbody>
</table>

