﻿@model IEnumerable<DALayer.GetCommunicationTypes_Result>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Is Active?</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++).</td>
                <td>@item.CommunicationTypeId</td>
                <td>@item.CommunicationTypeName</td>
                <td>@(item.IsActive.Value == true ? Html.Raw("<i class='mdi mdi-thumb-up'></i>") : Html.Raw("<i class='mdi mdi-thumb-down-outline'></i>"))</td>
                <td><a href="#" onclick="addEditType(@item.CommunicationTypeId)">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

