﻿@model IEnumerable<DALayer.GetCardTemplates_Result>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Is Active?</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="chkTemplate" id="chkTemplate" value="@item.CardTemplateId" class="idCheckBox" data-temaplate-name="@item.CardTemplateName" />
                </td>
                <td>@(index++).</td>
                <td>@item.CardTemplateId</td>
                <td>@item.CardTemplateName</td>
                <td><a href="@item.CardTemplatePath" target="_blank"><img src="@item.CardTemplatePath" width="24px" height="24px" /></a></td>
                <td>@(item.IsActive.Value == true ? Html.Raw("<i class='mdi mdi-thumb-up'></i>") : Html.Raw("<i class='mdi mdi-thumb-down-outline'></i>"))</td>
                <td>@item.Cost</td>
            </tr>
        }
    </tbody>
</table>
