﻿
@{
    ViewBag.Title = "Campanies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Companies</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Card">Card</a></li>
            <li class="breadcrumb-item active" aria-current="page">Companies</li>
        </ol>
    </nav>
</div>
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success">
        <strong>@ViewBag.Success</strong>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <strong>@ViewBag.Error</strong>
    </div>
}
<div class="row float-right">
    <button type="button" id="btnNew" class="btn btn-primary" class="btn btn-default">Add New Company</button>
</div>
<div id="divList">

</div>

@section scripts{
    <script language="javascript">
        $(document).ready(function () {
            loadList();
            $('#btnNew').click(function () {
                addEditCompany(0);
            });
        });
    var addEditCompany= function(id) {

        var url = encodeURI("@Url.Action("CompanyDetails", "Card")" + "?id=" + id);
        if (id > 0)
            showDetails("Edit Company Type", url);
        else
            showDetails("Add Company Type", url);
    }
    
        var loadList = function () {
            var url = encodeURI("@Url.Action("GetCompanyDetails", "Card")?id=0");
            $('#divList').load(url);
        }
    </script>
}

