﻿@{
    ViewBag.Title = "CommunicationType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h3 class="page-title">Communication Types</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Card">Card</a></li>
            <li class="breadcrumb-item active" aria-current="page">Communication Types</li>
        </ol>
    </nav>
</div>
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success">
        <strong>@ViewBag.Success</strong>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <strong>@ViewBag.Error</strong>
    </div>
}
<div class="row float-right">
    <button type="button" id="btnNew" class="btn btn-primary" class="btn btn-default">Add New</button>
</div>
<div id="divList">

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeading">Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div id="divModalBody"></div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
@section scripts{
    <script language="javascript">
        $(document).ready(function () {
            loadList();
            $('#btnNew').click(function () {
                addEditType(0);
            });
        });
    var addEditType= function(id) {

        var url = encodeURI("@Url.Action("GetCommunicationDetails", "Card")" + "?id=" + id);
        if (id > 0)
            showDetails("Edit Communication Type", url);
        else
            showDetails("Add Communication Type", url);
    }
    var showDetails = function (message, url) {
            $('#myModal').modal('show');

            $('#modalHeading').text(message);
            $("#divModalBody").load(url);
        }
        var loadList = function () {
            var url = encodeURI("@Url.Action("GetCommunicationTypeList", "Card")");
            $('#divList').load(url);
        }
        var hideDetails = function () {
            $('#myModal').modal('hide');

            $('#modalHeading').text('');
            $("#divList").html('');
        }
        var updateAlertMessage = function (msg) {
            $('#divAlert').show();
            $('#alertMessage').text(msg);
        }
    </script>
}