﻿
@{
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Templates</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Card">Card</a></li>
            <li class="breadcrumb-item active" aria-current="page">Templates</li>
        </ol>
    </nav>
</div>
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success">
        <strong>@ViewBag.Success</strong>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <strong>@ViewBag.Error</strong>
    </div>
}
<div class="alert alert-info alert-dismissible" id="divAlert" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="alertMessage"></div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body float-right">
                <form action='@Url.Action("RefreshTemplates", "Card")'>
                </form>
                <button class="btn btn-lg btn-success" type="button" id="btnSearch">Import Template Files</button>
                &nbsp;
                <button class="btn btn-lg btn-success" type="button" id="btnAssignCost">Assign Cost</button>
            </div>
        </div>
    </div>
</div>

<div id="divTemplateList"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeading">Impact Factor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div id="divModalBody">
                    <form class="form-inline">
                        <div class="form-group row">
                            <label for="cost" class="col-sm-2 col-form-label">Cost:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="cost" value="0.00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="namesList" class="col-sm-2 col-form-label">Card List:</label>
                            <div class="col-sm-10">
                                <div id="divCardList"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="btnSaveCost">Assign Cost</button>
                    </form>

                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            loadTemplateList();
            $('#divAlert').hide();

            $('#chkTemplate').change(function () {
                if ($(this).is(":checked")) {
                    $(this).parent().parent().addClass('highlight');
                }
                else {
                    $(this).parent().parent().removeClass('highlight');
                }
            });

            $('#btnAssignCost').click(function () {
                var selected = [];
                var namesList = [];
                $('.idCheckBox:input:checked').each(function () {
                    selected.push($(this).attr('value'));
                    namesList.push($(this).data('temaplateName'));
                });

                showDetails("Set the Cost for Cards", namesList.join('<br/>'));
            });
            $('#btnSearch').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RefreshTemplates", "Card")",
                    success: function () {
                        updateAlertMessage("Successfully refrehsed to cards from server.");
                        loadTemplateList();
                    }
                });
            });

            $('#btnSaveCost').click(function () {

                var selected = [];
                $('.idCheckBox:input:checked').each(function () {
                    selected.push($(this).attr('value'));
                });

                var data = {
                    cost: $('#cost').val(),
                    ids: selected
                };
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AssignCost", "Card")",
                    data: data,
                    success: function (result) {
                        hideDetails();

                        updateAlertMessage(result.Message);
                        if (result.Id >= 0) {
                            loadTemplateList();
                        }
                    }
                });
            });
        });

        var showDetails = function (message, details) {
            $('#myModal').modal('show');

            $('#modalHeading').text(message);
            $("#divCardList").html(details);
        }
        var hideDetails = function () {
            $('#myModal').modal('hide');

            $('#modalHeading').text('');
            $("#divCardList").html('');
        }

        var updateAlertMessage = function (msg) {
            $('#divAlert').show();
            $('#alertMessage').text(msg);
        }

        var loadTemplateList = function () {
            var url = encodeURI("@Url.Action("GetTemplateList", "Card")");
            $('#divTemplateList').load(url);
        }
    </script>
}