﻿@model AdminPortal.Models.iCardCompanyDetails
@{
    ViewBag.Title = "ViewCompanyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3 class="page-title">Company Details</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Card">Card</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/Card/Companies">Companies</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Details</li>
        </ol>
    </nav>
</div>
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success">
        <strong>@ViewBag.Success</strong>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <strong>@ViewBag.Error</strong>
    </div>
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i>
        <b>Company Details</b>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">@Model.Address</dd>

            <dt class="col-sm-3">Website</dt>
            <dd class="col-sm-9">@Model.Website</dd>

            <dt class="col-sm-3 text-truncate">Is Active</dt>
            <dd class="col-sm-9">@(Model.IsActive == true ? "Yes" : "No")</dd>
        </dl>
    </div>
    <div class="card-footer small text-muted">Updated on: @Model.ModifiedDate.Value.ToLongDateString() @Model.ModifiedDate.Value.ToLongTimeString()</div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <b>Cards</b>
        <div class="row float-right">
            <button type="button" id="btnNewCard" class="btn btn-success">Add Card</button>
        </div>
    </div>
    <div class="card-body">
        <div id="divCompanyCards"></div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <b>Users</b>
        <div class="row float-right">
            <input type="text" id="userSearch" />
            <button type="button" id="btnSearch" class="btn btn-success">Search</button>
            &nbsp;&nbsp;
            <button type="button" id="btnNewUser" class="btn btn-success">Add User</button>
            &nbsp;&nbsp;
            <button type="button" id="btnBulkAddUsers" class="btn btn-success">Bulk Add Users</button>
        </div>
    </div>
    <div class="card-body">
        <div id="divCompanyUsers"></div>
    </div>
</div>
@section scripts{
    <script language="javascript">
        $(document).ready(function () {
            loadCompanyCards();
            loadCompanyUsers();

            $('#btnNewCard').click(function () {
                loadCardUpload();
            });
            $('#btnNewUser').click(function () {
                loadUserAddEdit();
            });
            $('#btnSearch').click(function () {
                loadCompanyUsers();
            });
            $('#btnBulkAddUsers').click(function () {
                loadBulkAddUsers();
            });
        });
        var loadCompanyCards = function () {
            var url = encodeURI("@Url.Action("CompanyCardList", "Card")?id=@Model.Id");
            $('#divCompanyCards').load(url);
        }
        var loadCompanyUsers = function () {
            var url = encodeURI("@Url.Action("CompanyUserList", "Card")?id=@Model.Id&search="+$('#userSearch').val());
            $('#divCompanyUsers').load(url);
        }
        var loadCardUpload = function () {
            var url = encodeURI("@Url.Action("CompanyCardUpload", "Card")" + "?id=@Model.Id");
            showDetails("Add Cards to Company", url);
        }
        var loadUserAddEdit = function (contactId) {
            var url = encodeURI("@Url.Action("CompanyUserAddEdit", "Card")" + "?cid=@Model.Id&id=" + contactId);
            showDetails("Add / Edit Company User", url);
        }
        var loadBulkAddUsers = function (contactId) {
            var url = encodeURI("@Url.Action("CompanyUserUpload", "Card")" + "?cid=@Model.Id");
            showDetails("Bulk Add Users ", url);
        }
    </script>
}