﻿@{
    ViewBag.Title = "";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="img_adjust_size">
                <center>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- right side -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-9689624110931795"
                         data-ad-slot="1435992462"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>
        </div>
        <div class="col-md-8 set_position">
            <div class="row google-logo text-center">
                <a href="/"><img src="img/logo.png" alt="logo" width=""></a>
            </div>
            <div class="row google-form text-center">
                <form method="get">
                    <div class="form-group">
                        <input type="text" placeholder="Type here any keyword" class="form-control google-search" name="txtSearch" style="height: 45px;" id="txtSearch">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary search_btn" id="btnSearch">Search</button>
                        </div>
                    </div>
                </form>
                <!-- Start of CuterCounter Code -->
                <a href="https://www.cutercounter.com/" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=gvqxpqn&nd=9&style=118" border="0" alt="website counter"></a>
                <!-- End of CuterCounter Code -->
                <div class="img_adjust_size_horizonatal">
                    <center>
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- HDR -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:970px;height:90px"
                             data-ad-client="ca-pub-9689624110931795"
                             data-ad-slot="8959259266"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="img_adjust_size">
                <center>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- right side -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-9689624110931795"
                         data-ad-slot="1435992462"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script language="javascript">
        $(document).ready(function () {
            $('#txtSearch').focus();
            $('#divResult').hide();
            $('#divMessage').hide();
            $('#divFactors').hide();

            $('#btnSearch').click(function () {
                window.location.href = "@Url.Action("SearchResults","Home")?search=" + $('#txtSearch').val()
            });
            
            $('#txtSearch').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    $('#btnSearch').click();
                    event.preventDefault();
                }
            });

        });
    </script>
}
<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>