﻿@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="google-logo text-center">
                <a href="/"><img src="/img/logo.png" alt="logo" width=""></a>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="divResultContainer">
        <div class="col-md-1">
            <div class="img_adjust_size_search">
                <center>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- right side -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-9689624110931795"
                         data-ad-slot="1435992462"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <span class="search_result_font_size">Search Result: @Request.QueryString["search"] <span id="resultCount">(0)</span></span>
            </div>
            <div class="alert alert-danger fade in" id="divMessage">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>No results are available.</strong>
            </div>
            <div class="drop_down my-custom-scrollbar table-wrapper-scroll-y" style="padding-top:10px;height:560px;overflow-y: scroll;" >
                <div class="group_box" id="divResult">
                    <div class="dorp-field active">
                        <span>1. abc</span>
                    </div>
                    <div class="dorp-field">
                        <span>2. abc</span>
                    </div>
                    <div class="dorp-field">
                        <span>3. abc</span>
                    </div>
                    <div class="dorp-field">
                        <span>4. abc</span>
                    </div>
                    <div class="dorp-field">
                        <span>5. abc</span>
                    </div>
                    <div class="dorp-field">
                        <span>6. abc</span>
                    </div>
                    <div class="dorp-field">
                        <span>7. abc</span>
                    </div>
                    <div class="dorp-field">
                        <span>8. abc</span>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-12" style="margin-top:10px;" >
                <div class="group_box group_box-margin row" id="divChart1">
                    <div class="card-body">
                        <center>
                            <div>
                                <h3>
                                    Journal Impact Factor
                                </h3>
                            </div>
                            <div clss="chart_group" >
                                <canvas id="myChart" style="height: 200px; width: 100%;"></canvas>
                            </div>
                        </center>
                    </div>
                </div>
                <br>
            </div>
            <div class="group_list">
                <div class="row">
                    <div class="col-md-6">
                        <div class="group_box">
                            <table class="gfg">
                                <tr>
                                    <td class="name_box_inner">Short Name</td>
                                    <td class="border_hide" id="shortName"></td>
                                </tr>
                                <tr>
                                    <td class="name_box_inner">ISSN</td>
                                    <td class="border_hide" id="issn"></td>
                                </tr>
                                <tr>
                                    <td class="name_box_inner">eISSN</td>
                                    <td class="border_hide" id="eissn"></td>
                                </tr>
                                <tr>
                                    <td class="name_box_inner">Category</td>
                                    <td class="border_hide" id="category"></td>
                                </tr>
                                <tr>
                                    <td class="name_box_inner">Country</td>
                                    <td class="border_hide" id="country"></td>
                                </tr>
                                <tr>
                                    <td class="name_box_inner">Website</td>
                                    <td class="border_hide"><a href="#" id="website" target="_blank"></a></td>
                                </tr>
                                <tr id="trAPC">
                                    <td class="name_box_inner">APC</td>
                                    <td class="border_hide" id="apc"></td>
                                </tr>
                                <tr id="trAPCAmount">
                                    <td class="name_box_inner">APCAmount</td>
                                    <td class="border_hide" id="apcAmount"></td>
                                </tr>
                                <tr id="trCurrency">
                                    <td class="name_box_inner">Currency</td>
                                    <td class="border_hide" id="currency"></td>
                                </tr>
                                <tr id="trSubmissionFee">
                                    <td class="name_box_inner">Submission Fee</td>
                                    <td class="border_hide" id="submissionFee"></td>
                                </tr>
                                <tr id="trKeywords">
                                    <td class="name_box_inner">Keywords</td>
                                    <td class="border_hide" id="keywords"></td>
                                </tr>
                                <tr id="trReviewProcess">
                                    <td class="name_box_inner">Review Process</td>
                                    <td class="border_hide" id="reviewProcess"></td>
                                </tr>
                                <tr id="trOpenAccess">
                                    <td class="name_box_inner">Open Access</td>
                                    <td class="border_hide" id="openAccess"></td>
                                </tr>
                                <tr id="trViewCount">
                                    <td class="name_box_inner">View Count</td>
                                    <td class="border_hide" id="viewCount"></td>
                                </tr>
                                <tr id="trFavoriteCount">
                                    <td class="name_box_inner">Favorite Count</td>
                                    <td class="border_hide" id="favoriteCount"></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="group_box" id="divImpactFactor1">
                            <table class="gfg" id="tblImpactFactor1"></table>
                        </div>
                    </div>
                    <br>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="noJIF group_box">
                <strong>Oops!! Unable to find Journal Impact Factor.</strong>
            </div>
        </div>
        <div class="col-md-1">
            <div class="img_adjust_size_search">
                <center>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- right side -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-9689624110931795"
                         data-ad-slot="1435992462"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>
        </div>
    </div>
    <div class=""></div>
    <div class="">
        <div class="img_adjust_size_horizonatal_search">
            <center>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- HDR -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:970px;height:90px"
                     data-ad-client="ca-pub-9689624110931795"
                     data-ad-slot="8959259266"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </center>
        </div>
    </div>
    <div class=""> </div>
</div>

@section scripts{
    <script language="javascript">
        function showHideWithData(data, rowId, textBoxId) {
            if (data && data != 'null' && data != 'NA') {
                $('#' + rowId).show();
                $('#' + textBoxId).text(unescape(data));
            }
            else {
                $('#' + rowId).hide();
            }
        }
        var factor = function (element, id, shortName, issn, eissn, category, country, website, apc, apcAmount,
            currency, submissionFee, keywords, reviewProcess, openAccess,
            viewCounter, favoriteCounter) {
            $('#divChart1').hide();
            $('#divImpactFactor1').hide();
                    
            $.get('/home/factor?id=' + id, function (data, status) {
                if (data) {
                    $("#tblImpactFactor1 tr").remove();

                    $('#journalTitle').text($('#div_' + id).text());
                    $('#divFactors').show();
                    $('.dorp-field').removeClass("active");
                    $('#div_' + id).addClass("active");
                    //Details
                    $('#shortName').text(unescape(shortName));
                    $('#issn').text(issn);
                    $('#eissn').text(eissn);
                    $('#category').text(unescape(category).replace(/\"/gi, ""));
                    $('#country').text(unescape(country));
                    //website = website.replace(/NA/gi, "");
                    if (website.length != 'NA') {
                        $('#website').attr('href', website);
                        $('#website').text('Click Here');
                    }
                    else {
                        $('#website').attr('href', '#');
                        $('#website').text('NA');
                    }
                    showHideWithData(apc, 'trAPC', 'apc');
                    showHideWithData(apcAmount, 'trAPCAmount', 'apcAmount');
                    showHideWithData(currency, 'trCurrency', 'currency');
                    showHideWithData(submissionFee, 'trSubmissionFee', 'submissionFee');
                    showHideWithData(keywords, 'trKeywords', 'keywords');
                    showHideWithData(reviewProcess, 'trReviewProcess', 'reviewProcess');
                    showHideWithData(openAccess, 'trOpenAccess', 'openAccess');
                    showHideWithData(viewCounter, 'trViewCount', 'viewCount');
                    showHideWithData(favoriteCounter, 'trFavoriteCount', 'favoriteCount');
                    
                    $("#tblImpactFactor1").empty();

                    if (data.results && data.results.length > 0) {
                        $('.jifDetails').show();
                        $('.noJIF').hide();
                        var years = [];
                        var jif = [];
                        var half = Math.ceil(data.results.length / 2);
                        $(data.results).each(function (index, element) {
                            
                            if (index > half) {

                                //$('#tblImpactFactor1').append('<tr><td class="name_box_inner date_color">' + element.Year + '</td><td class="border_hide detale_date">' + element.Factor + '</td></tr >');
                                $('#tblImpactFactor1 > tbody > tr:nth-child(' + (index % half) + ')').append('<td class="name_box_inner date_color">' + element.Year + '</td><td class="border_hide detale_date">' + element.Factor + '</td>');
                            }
                            else {
                                $('#tblImpactFactor1').append('<tr><td class="name_box_inner date_color">' + element.Year + '</td><td class="border_hide detale_date">' + element.Factor + '</td></tr >');
                            }
                            index++;
                            years.push(element.Year);
                            jif.push(element.Factor);
                        });

                        years = years.reverse();
                        jif = jif.reverse();
                        drawChart(years, jif);

                        $('#divChart1').show();
                        $('#divImpactFactor1').show();
                    }
                    else {
                        $('.jifDetails').hide();
                        $('.noJIF').show();

                        $('#divChart1').hide();
                        $('#divImpactFactor1').hide();
                    }

                    
                }
            });
        }
        $(document).ready(function () {
            $('#resultCount').hide();
            $('#divResult').hide();
            $('#divMessage').hide();
            $('#divFactors').hide();
            loadSearch();
        });
        var loadSearch = function () {
            var searchString = getParameterByName("search");
            if (searchString == null || searchString.length == 0)
                return;

            $('#txtSearch').val(searchString);
            $.post("/home/search", { Query: searchString, Rows: "500" })
                .done(function (data) {

                    $('#divResult').html('');
                    $('.jifDetails').hide();
                    $('.noJIF').hide();

                    if (data) {

                        if (data.results && data.results.length > 0) {
                            $('#resultCount').show();
                            $('#resultCount').text('(' + data.results.length + ')');
                            $(data.results).each(function (index, element) {
                                $('#divResult').append('<a class="cursor-pointer"><div class="dorp-field" id="div_' + element.Id + '" onclick=\'factor(this, ' + element.Id + ',"' + escape(element.Title20) + '", "' + element.ISSN + '", "' + element.EISSN + '", "' + escape(element.Category) + '", "' + escape(element.Country) + '", "' + element.Website + '", "' + escape(element.APC) + '", "' + escape(element.APCAmount) + '", "' + escape(element.Currency) + '", "' + escape(element.SubmissionFee) + '", "' + escape(element.Keywords) + '", "' + escape(element.ReviewProcess) + '", "' + escape(element.OpenAccess) + '","' + escape(element.Counters.MarkedAsFavorites) + '","' + escape(element.Counters.Viewed) + '")\'><span> ' + (index + 1) + '. ' + element.Title + '</span></div></a>');
                            });

                            $('#divResult').show();
                            $('#divMessage').hide();
                            $('#divResults').show();

                            $(".cursor-pointer :first").click();

                        }
                        else {
                            $('#divResult').hide();
                            $('#divMessage').show();
                            $('#divResults').hide();
                        }
                    }

                });
        }
        var myLineChart = null;
        var drawChart = function (labels, data) {
            if (myLineChart != null) {
                myLineChart.destroy();
            }

            if (data == null && data.length == 0) {
                $('#divChart1').hide();
                $('#divImpactFactor1').hide();
            }
            else {
                $('#divChart1').show();
                $('#divImpactFactor1').show();
            }
            var ctx = document.getElementById("myChart");

            myLineChart = new Chart(ctx, {
                type: 'line',
                title:{
				  text: "Impact Factor"
			   },
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Impact Factor",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: data,
                    }],
                },
                options: {
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'number'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: data.length
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: Math.max.apply(Math, data),
                                maxTicksLimit: data.length
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            });

            myLineChart.update();

        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
}

