﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Omelette Soft</title>

    @*@Styles.Render("~/Content/css")*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <!--SummerNote-->
    
</head>
<body>
    <div class="container-scroller">
        @Html.Partial("_TopMenu")
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("_LeftNav")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year <a href="https://www.bootstrapdash.com/" target="_blank">iCard by OmeletteSoft</a>. All rights reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">www.OmeletteSoftinc.com<i class="mdi mdi-heart text-danger"></i></span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalHeading">Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div id="divModalBody"></div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Omelette Soft", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Journal Impact Factor", "Index", "JIF")</li>
                            <li class="d-flex flex-nowrap">
                                @Html.ActionLink("Missing ISSN's", "MissingISSNs", "JIF")@Html.Raw(ViewData["MissingISSNCount"])
                            </li>
                            <li class="d-flex flex-nowrap">@Html.ActionLink("Import", "Import", "JIF")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/assets/scripts")
    <script language="javascript">
        var showDetails = function (message, url) {
                $('#myModal').modal('show');

                $('#modalHeading').text(message);
                $("#divModalBody").load(url);
            }
            var hideDetails = function () {
                $('#myModal').modal('hide');

                $('#modalHeading').text('');
                $("#divList").html('');
            }
            var updateAlertMessage = function (msg) {
                $('#divAlert').show();
                $('#alertMessage').text(msg);
            }
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
