﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <span class="menu-title">@Html.ActionLink("Dashboard", "Index", "Home")</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic-JIF" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">JIF Admin</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic-JIF">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> @Html.ActionLink("Journal Impact Factor", "Index", "JIF", new object { }, new { @class = "nav-link" })</li>
                            <li class="nav-item"> @Html.ActionLink("Missing ISSN's", "MissingISSNs", "JIF", new object { }, new { @class = "nav-link" })@Html.Raw(ViewData["MissingISSNCount"])</li>
                            <li class="nav-item"> @Html.ActionLink("Import", "Import", "JIF", new object { }, new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic-PubMed" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">PubMed Admin</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic-PubMed">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> @Html.ActionLink("Home", "Index", "Pubmed", new object { }, new { @class = "nav-link" })</li>
                            <li class="nav-item"> @Html.ActionLink("Users", "Users", "Pubmed", new object { }, new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic-Card" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Card Admin</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic-Card">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> @Html.ActionLink("Home", "Index", "Card", new object { }, new { @class = "nav-link" })</li>
                            <li class="nav-item"> @Html.ActionLink("Communication Types", "CommunicationType", "Card", new object { }, new { @class = "nav-link" })</li>
                            <li class="nav-item"> @Html.ActionLink("Social Types", "SocialType", "Card", new object { }, new { @class = "nav-link" })</li>
                            <li class="nav-item"> @Html.ActionLink("Card Templates", "Template", "Card", new object { }, new { @class = "nav-link" })</li>
                            <li class="nav-item"> @Html.ActionLink("Companies", "Campanies", "Card", new object { }, new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic-Common" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Common</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic-Common">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> @Html.ActionLink("Mail", "SendEmails", "Common", new object { }, new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    }
}